html {
    box-sizing: border-box;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
}


body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 1px;
}

a {
    text-decoration: none;
}

.panel {
    height: 125px;
    width: 100%;
    position: fixed;
    background-color: #F9F9F9;
    color: #000000;
    display: flex;
    flex-direction: row;
    padding: 48px 80px 26px 104px;
    box-shadow: 0px 0px 5px 0px rgba(4, 3, 3, 0.177);
}

.panel ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
}

.panel_ul_sections {
    height: 21px;
    margin-top: 14px;
    margin-left: 40px;
    gap: 39px;
}

.panel_ul_sections li h2 {
    font-size: 17px;
    font-weight: 600;
}

.panel_ul_icon {
    margin-left: auto;
}

.panel_ul_sections_line div :hover {
    border-bottom: 2px solid #414288;
    padding-bottom: 5px;
    text-decoration: none;
}

.panel_ul_sections_line ul a {
    width: 443px;
    height: 61px;
    background-color: #FFFFFF;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    border-radius: 10px;
    padding: 21px 168px 11.5px 16px;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.panel_ul_sections_line ul a li {
    width: 443px;
    height: 26px;
}

.panel ul li ul {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 568px;
    height: 234px;
    background-color: #FFFFFF;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    border-radius: 20px;
    gap: 23px;
    padding: 33px 163px 56px 37px;
}

.panel_ul-personalaccount { top: 150px; left: 120px; }
.panel_ul-IOT { top: 150px; left: 300px; }
.panel_ul-profession { top: 150px; left: 400px; }
.panel_ul-komments { top: 150px; left: 700px; }

.panel_div-personalaccount:hover + .panel_ul-personalaccount,
.panel_div-IOT:hover + .panel_ul-IOT,
.panel_div-profession:hover + .panel_ul-profession,
.panel_div-komments:hover + .panel_ul-komments {
  display: flex;
}

.panel_ul-personalaccount:hover,
.panel_ul-IOT:hover,
.panel_ul-profession:hover,
.panel_ul-komments:hover {
  display: flex;
}

.dropdown-visible {
    display: flex !important;
}

.rectangle {
    position: absolute;
    top: 334px;
    left: 0;
}

.ellipse1 {
    position: absolute;
    top: 0;
    left: 224px;
}

.ellipse2 {
    position: absolute;
    top: 0;
    right: 137px; 
}

.ellipse3 {
    position: absolute;
    top: 583px;
    right: 536px; 
}
 
.scroll-welcome {
    height: 5621px;
    width: 100%;
}


.menu {
    width: 447px;
    height: 50px;
    position: absolute;
    top: 71px;
    right: 183px;
}


.menu_entry {
    width: 161px;
    height: 48px;
    color:#F9F9F9;
    background-color:#3D3E85;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.menu_entry:hover {
    cursor: pointer;
}

.menu_registration:hover {
    cursor: pointer;
}

.menu_registration {
    width: 161px;
    height: 48px;
    color:#F9F9F9;
    background-color:#3D3E85;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-left: 40px;
}

.container-title {
    display: flex;
    flex-direction: row;
    width: 573px;
    height: 125px;
    margin-top: 265px;
    margin-left: 170px;
}

.container-title h1 {
    font-size: 90px;
    color: #414288;
    font-weight: 500;
    margin-left: 35px;
    margin-top: 60px;
    line-height: 16px;
}

.title-description {
    margin-left: 178px;
    font-size: 36px;
    color: #414288;
    width: 822px;
    margin-top: 19px;
    line-height: 41px;
}

.container-continue {
    width: 508px;
    height: 224px;
    background-color: #FFC765;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 308px;
    right: 183px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.container-continue:hover {
    cursor: pointer;
}

.container-continue h2 {
    color: #FDFCFA;
    width: 354px;
    height: 78px;
    margin: 50px 108px 46px 46px;
    text-align: left;
}

.arrow {
    margin: 0px 433px 50px 45px;   
}

.road-map {
    position: absolute;
    left: 170px;
    top: 678px;
    border: none;
    height: 4943px; 
    width: 8px;
    background-color: #EFEFEF;
}

.steps {
    width: 125px;
    height: 4943px;
    padding-left: 0;
    padding-top: 140px;
    margin-top: 678px;
    margin-left: 112px;
    position: absolute;
    list-style: none;
}

.steps li {
    width: 120px;
    height: 120px;
    background-color: #EFEFEF;
    border-radius: 20px;
    font-weight: 500;
    font-size: 56px;
    color: #8A8A8A;
}

.steps_1 {
    padding: 29px 29px 5px 50px;
}

.steps_2 {
    margin-top: 1120px;
    padding: 29px 29px 29px 45px;
}

.steps_3 {
    margin-top: 1041px;
    padding: 29px 46px 29px 44px;
}

.steps_4 {
    margin-top: 1940px;
    padding: 29px 39px 29px 38px;
}

.road-map-info {
    width: 1560px;
    height: 4850px;
    position: absolute;
    top:771px;
    left: 275px;
}

.road-map-info img {
    margin-top: 95px;
    margin-left: 43px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 12px rgba(63, 61, 61, 0.052);
}

.road-map-info h2 {
    width: 1000px;
    height: 30px;
    font-weight: 500;
    font-size: 36px;
    margin-left: 43px;
}

.road-map_discription {
    margin-top: 47px;
    margin-left: 43px;
    font-size: 32px;
    font-weight: 400;
}

.road-map_title1 {
    margin-top: 47px;
}

.road-map_title2 {
    margin-top: 142px;
}

.road-map_conteiner4step {
    width: 1495px;
    height: 280px;
    display: flex;
    flex-direction: row;
    margin-top: 105px;
    margin-left: 30px;
    position: relative;
}

.road-map_conteiner4step_startIOT {
    width: 655px;
    height: 206px;
    margin-left: 59px;
    color:color #000;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 1px 1px 12px 12px rgba(63, 61, 61, 0.052);
}

.road-map_conteiner4step_startIOT:hover {
    cursor: pointer;
}

.road-map_conteiner4step_check-jobs {
    width: 655px;
    height: 206px;
    margin-left: 67px;
    color:color #000;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    box-shadow: 1px 1px 12px 12px rgba(63, 61, 61, 0.052);
}

.road-map_conteiner4step_check-jobs:hover {
    cursor: pointer;
}

.road-map_conteiner4step_startIOT h2 {
    width: 445px;
    height: 78px;
    font-size: 28px;
    font-weight: 500;
    margin-left: 46px;
    margin-top: 36px;
    text-align: left;
}

.road-map_conteiner4step_check-jobs h2 {
    width: 453px;
    height: 78px;
    font-size: 28px;
    font-weight: 500;
    margin-left: 46px;
    margin-top: 36px;
    text-align: left;
}

.arrow-black {
    margin: 45px 580px 46px 46px !important;
    box-shadow: none !important; 
}

.wrapper {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}


.left-part {
    background-color: #3D3E85;
    overflow: hidden;
    background: linear-gradient(190deg, rgba(61, 62, 133, 1) 30%, rgba(181, 180, 251, 33%));
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 65% 0%, 50% 45%, 56% 85%, 90% 100%, 0% 100%);
}

.ellipse22 {
    position: absolute;
    top: 384px;
    left: 750px; 
}

.polygon2 {
    position: absolute;
    bottom: 0;
}

.rectangle2 {
    position: absolute;
    top: 94px;
    left: 0; 
}

.container-title_website {
    display: flex;
    width: 573px;
    height: 125px;
    margin-top: 88px;
    margin-left: 69px;
    position: absolute;
}

.container-title_website h1 {
    font-size: 90px;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 0;
}

.title-description_website {
    font-size: 36px;
    color: #fff;
    width: 827px;
    height: 85px;
    text-transform: uppercase;
    margin-top: 253px;
    margin-left: 69px;
    position: absolute;
}


.authorization-container {
    position: absolute;
    width: 551px;
    height: 566px;
    top: 259px;
    right: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorization-container h2 {
    color: #394561;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 79px;
}

.authorization-container_email {
    width: 550px;
    height: 102px;
    margin-bottom: 61px;
}

.authorization-container_email h3 {
    color: #394561;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 48.41px;
}

.authorization-container_email_input {
    width: 551px;
    display: flex;
    border-bottom: 2px solid #5A5885;
}

.authorization-container_email_input_field {
    width: 340px;
    height: 22px;
    color: #394561;
    border: none;
    background-color: #FFFFFF;
    font-size: 18px;
    margin-right: 186px;
}

.authorization-container_email_input_field:focus {
    outline: none;
    border: 1px solid transparent;
}

.authorization-container_email_input_faceicon {
    margin-bottom: 6px;
}

.authorization-container_password {
    width: 550px;
    height: 102px;
}

.authorization-container_password h3 {
    color: #394561;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 48.41px;
}

.authorization-container_password_input {
    width: 551px;
    display: flex;
    border-bottom: 2px solid #5A5885;
}

.authorization-container_password_input_field {
    width: 340px;
    height: 22px;
    color: #394561;
    border: none;
    background-color: #FFFFFF;
    font-size: 18px;
    margin-right: 186px;
}

.authorization-container_password_input_field:focus {
    outline: none;
    border: 1px solid transparent;
}

.authorization-container_enter {
    width: 161px;
    height: 48px;
    background-color: #414288;
    border: none;
    border-radius: 10px;
    color: #F9F9F9;
    font-size: 16px;
    margin-top: 93px;
}

.authorization-container_enter:hover {
    cursor: pointer;
}


.authorization-container_no-registration {
    display: flex;
    width: 440px;
    height: 24px;
    margin-top: 16px;
}

.authorization-container_no-registration_question {
    color: #586885;
    font-size: 16px;
    line-height: 24px;
    width: 248px;
}

.authorization-container_no-registration_registracion {
    color: #326BDA;
    text-decoration: none;
    width: 192px;
    font-size: 16px;
    line-height: 24px;
}

.registration-container {
    position: absolute;
    width: 594px;
    height: 834px;
    top: 89px;
    right: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container h2 {
    color: #394561;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 49px;
}

.registration-container_name-and-lastname {
    display: flex;
}

.registration-container_name-and-lastname_lastname {
    width: 304px;
    height: 97px;
}

.registration-container h3 {
    font-size: 21px;
    color: #394561;
    font-weight: 500;
    height: 35px;
    width: 213px;
}

.registration-container_name-and-lastname_lastname_input {
    width: 304px;
    height: 64px;
    border: 1px solid #5A5885; 
    padding-left: 20px;
    font-size: 18px;
}

.registration-container_name-and-lastname_name {
    width: 260px;
    height: 97px;
    margin-left: 30.12px;
}

.registration-container_name-and-lastname_name_input {
    width: 260px;
    height: 64px;
    border: 1px solid #5A5885; 
    font-size: 18px;
    padding-left: 20px;
}

.registration-container_patronymic {
    width: 594px;
    height: 97px;
    margin-top: 27px;
}

.registration-container_patronymic_input {
    width: 594px;
    height: 64px;
    border: 1px solid #5A5885; 
    font-size: 18px;
    padding-left: 20px;
}

.registration-container_email {
    width: 594px;
    height: 97px;
    margin-top: 27px;
}

.registration-container_email_input {
    width: 594px;
    height: 64px;
    border: 1px solid #5A5885; 
    font-size: 18px;
    padding-left: 20px;
}

.registration-container_password {
    width: 594px;
    height: 97px;
    margin-top: 27px;
}

.registration-container_password_input {
    width: 594px;
    height: 64px;
    border: 1px solid #5A5885;
    display: flex;
}

.registration-container_password_input_field {
    border: none;
    font-size: 18px;
    line-height: 16px;
    width: 212px;
    height: 18px;
    margin-left: 20px;
    margin-top: 24px;
}

.registration-container_password_input_field:focus {
    outline: none;
    border: 1px solid transparent;
}

.registration-container_password_input_not-view {
    cursor: pointer;
    margin-left: 319px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}

.registration-container_repeat-password {
    width: 594px;
    height: 97px;
    margin-top: 27px;
    margin-bottom: 46px;
}

.registration-container_repeat-password_input {
    width: 594px;
    height: 64px;
    border: 1px solid #5A5885;
    display: flex;
}

.registration-container_repeat-password_input_field {
    border: none;
    font-size: 18px;
    line-height: 16px;
    width: 212px;
    height: 18px;
    margin-left: 20px;
    margin-top: 24px;
}

.registration-container_repeat-password_input_field:focus {
    outline: none;
    border: 1px solid transparent;
}

.registration-container_repeat-password_input_view {
    cursor: pointer;
    margin-left: 319px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}

.registration-container_enter {
    width: 161px;
    height: 48px;
    background-color: #414288;
    border: none;
    border-radius: 10px;
    color: #F9F9F9;
    font-size: 16px;
}

.registration-container_enter:hover {
    cursor: pointer;
}

.registration-container_have-autorisation {
    display: flex;
    width: 305px;
    height: 24px;
    margin-top: 16px;
    align-items: center;
}

.registration-container_have-autorisation_question {
    color: #586885;
    font-size: 16px;
    line-height: 24px;
    width: 260px;
}

.registration-container_have-autorisation_enter {
    color: #326BDA;
    text-decoration: none;
    width: 58px;
    font-size: 16px;
    line-height: 24px;
}

.my-direction {
    margin-top: 186px;
    margin-left: 104px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.my-direction h1 {
    font-weight: 500;
    width: 337px;
    height: 43px;
    font-size: 35px;
}

.my-direction_student {
    width: 667px;
    height: 171px;
    margin-top: 67px;
    display: flex;
    flex-direction: row;
}

.my-direction_student_info {
    width: 474px;
    height: 171px;
    margin-left: 23px;
    display: flex;
    flex-direction: column;
}

.my-direction_student_info h2 {
    font-size: 24px;
    font-weight: 400;
}

.my-direction_student_info_container {
    width: 700px;
    height: 102px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.my-direction_student_info_container_group {
    width: 700px;
    height: 22px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
}

.my-direction_student_info_container_group h3 {
    width: 71px;
    height: 22px;
    margin-left: 117px;
    font-size: 18px;
    font-weight: 500;
    color: #FFA03A;
}

.my-direction_student_info_container_group h4 {
    width: 150px;
    height: 22px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
}

.my-direction_student_info_container_email {
    width: 700px;
    height: 22px;
    padding-top: 28px;
    display: flex;
    flex-direction: row;
}

.my-direction_student_info_container_email h3 {
    width: 188px;
    height: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #FFA03A;
}

.my-direction_student_info_container_email h4 {
    width: 400px;
    height: 22px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
}

.my-direction_student_info_container_direction {
    width: 700px;
    height: 22px;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
}

.my-direction_student_info_container_direction h3 {
    width: 177px;
    height: 22px;
    margin-left: 11px;
    font-size: 18px;
    font-weight: 500;
    color: #FFA03A;
}

.my-direction_student_info_container_direction h4 {
    width: 400px;
    height: 22px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
}

.my-direction_info-of-direction {
    width: 1261px;
    height: auto;
    font-size: 24px;
    font-weight: 400;
    margin-top: 62px;
    margin-bottom: 65px;
}

.my-direction_info-main-persons {
    width: 1126px;
    height: 302px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-direction_info-main-persons_container {
    width: 516px;
    height: 302px;
    box-shadow: 1px 1px 12px 12px rgba(63, 61, 61, 0.052);
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: row;
}

.my-direction_info-main-persons_container_rop {
    width: 260px;
    height: 233px;
    margin-left: 16px;
}

.my-direction_info-main-persons_container_rop h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.my-direction_info-main-persons_container_rop h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
}

.my-direction_info-main-persons_container_rop_info {
    width: 260px;
    height: 120px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.my-direction_info-main-persons_container_rop_info_item {
    width: 260px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.my-direction_info-main-persons_container_rop_info_item h4 {
    font-size: 16px;
    font-weight: 500;
}

.my-direction_info-main-persons_container_rop_info_item p {
    font-size: 16px;
    font-weight: 400;
}

.my-direction_info-main-persons_container_tutor {
    width: 252px;
    height: 233px;
    margin-left: 20px;
}

.my-direction_info-main-persons_container_tutor h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.my-direction_info-main-persons_container_tutor h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
}

.my-direction_info-main-persons_container_tutor_info {
    width: 252px;
    height: 120px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.my-direction_info-main-persons_container_tutor_info_item {
    width: 260px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.my-direction_info-main-persons_container_tutor_info_item h4 {
    font-size: 16px;
    font-weight: 500;
}

.my-direction_info-main-persons_container_tutor_info_item p {
    font-size: 16px;
    font-weight: 400;
}

.choosing-direction_container {
    position: absolute;
    width: 643px;
    height: 805px;
    top: 131px;
    right: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choosing-direction_container h2 {
    width: 473px;
    height: 37px;
    margin-top: 25px;
    color: #394561;
    font-size: 30px;
    font-weight: 500;
}

.directions-container {
    width: 603px;
    height: 583px;
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    border: 1px solid #A1ACBA;
    border-radius: 5px;
}

.search-container {
    width: 572px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    border: 1px solid #A1ACBA;
    border-radius: 5px;
    margin-left: 16px;
}

.search-container_img {
    margin: 11px 10px 11px 12px;
}

.search-container input {
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: #000000;
    outline: none;
}

.choosing-direction_container_continue {
    width: 161px;
    height: 48px;
    background-color: #414288;
    border: none;
    border-radius: 10px;
    color: #F9F9F9;
    font-size: 16px;
    margin-top: 70px;
    cursor: pointer;
}

.elastic-directions {
    width: 588px;
    height: 500px;
    padding: 0;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 0;
}

.elastic-directions::-webkit-scrollbar {
    width: 8px; 
}

.elastic-directions::-webkit-scrollbar-track {
    background: #FFFFFF; 
}

.elastic-directions::-webkit-scrollbar-thumb {
    background: #D1D8DF; 
    border-radius: 10px;
}

.elastic-directions li button {
    width: 100%;
    min-height: 39px;
    padding: 6px 16px 6px 16px;
    list-style: none;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.elastic-directions li button:hover {
    background-color: #F1F1F1;
}

.elastic-directions li.hide {
    display: none;
}

.wrapper_pages-with-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
    height: 1080px;
    margin-top: 124px;
}

.main-page_header {
    width: 100%;
    height: 145px;
    background-color: #F1ECFF;
    padding-left: 60px;
    padding-top: 38px;
}

.main-page_header h1 {
    width: 166px;
    height: 24px;
    color: #000000;
    font-weight: 500;
    font-size: 36px;
    position: inherit;
}

.main-page_header h2 {
    width: 1305px;
    height: 30px;
    color: #000000;
    font-weight: 500;
    font-size: 29px;
    margin-top: 23px;
    position: inherit;
}

.main-page_content_container {
    width: 100%;
    height: 935px;
    display: flex;
    flex-direction: row;
    padding: 27px 74px 50px 78px;
}

.main-page_content_container_discription {
    width: 1014px;
    height: 858px;
}

.main-page_content_container_discription_text {
    width: 1014px;
    height: 307px;
    padding-left: 39px;
    padding-top: 9px;
    list-style-type: decimal;
}

.main-page_content_container_discription_text li {
    width: 960px;
    min-height: 29px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 17px;
}

.main-page_content_container_discription_buttons {
    width: 100%;
    height: 551px;
    padding: 23px 46px 30px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 44px; 
}

.main-page_content_container_discription_buttons_item:nth-child(1),
.main-page_content_container_discription_buttons_item:nth-child(2) {
  grid-row: 1;
}

.main-page_content_container_discription_buttons_item:nth-child(3),
.main-page_content_container_discription_buttons_item:nth-child(4),
.main-page_content_container_discription_buttons_item:nth-child(5) {
  grid-row: 2;
}

.main-page_content_container_discription_buttons_item {
    border: none;
    border-radius: 10px;
    background-color: #FFFBCC;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    cursor: pointer;
}

.main-page_content_container_discription_buttons_item_container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    text-align: left;
    width: 392px;
    min-height: 36px;
    margin: 170px 26px 22px 32px;
}


.main-page_content_container_discription_buttons_item_container h2 {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
}

.main-page_content_container_discription_buttons_item_container img {
    width: 32px;
    height: 32px;
}

.main-page_content_container_info {
    width: 517px;
    height: 516px;
    margin-left: 167px;
    display: flex;
    flex-direction: column;
}

.main-page_content_container_info_student {
    width: 490px;
    height: 274px;
    margin: 16px 20px 37px 7px;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 22px 34px 32px 35px;
}

.main-page_content_container_info_student_container {
    width: 421px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-page_content_container_info_student_container h2 {
    font-weight: 400;
    font-size: 28px;
}

.main-page_content_container_info_student h3 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 28px;
}

.main-page_content_container_info_student h4 {
    font-weight: 400;
    font-size: 22px;
    margin-top: 6px;
}

.main-page_content_container_info_profession {
    width: 490px;
    height: 159px;
    margin-left: 7px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    padding: 45px 47px 40px 47px;
}

.main-page_content_container_info_profession h2 {
    font-weight: 500;
    font-weight: 24px;
    width: 396px;
    height: 80px;
    text-align: center;
}

.polygon_main-page {
    position: absolute;
    top: 623px;
    left: 1266px;
}

.rectangle_main-page {
    position: absolute;
    top: 669px;
    left: 1316px;
}

.ellipse_main-page {
    position: absolute;
    top: 623px;
    left: 1496px;
}

.completed-courses {
    margin-top: 180px;
    margin-left: 108px;
    width: 100%;
    height: calc(100%-125px);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.completed-courses h1 {
    width: 700px;
    height: 43px;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 62px;
}

.dropdown-toggle {
    min-width: 381px;
    height: 56px;
    background-color: #FFFFFF;
    border: 0.5px solid #C0C0C0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 16px 23px 14px;
    cursor: pointer;
}

.dropdown-toggle h2 {
    width: 158px;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
}

.dropdown-toggle img {
    padding-top: 7px;
    pointer-events: none;
}

.img_dropdown-active {
    display: block;
}

.img_dropdown-not-active {
    display: none;
}

.img_dropdown-active.hidden {
    display: none;
}

.img_dropdown-not-active.visible {
    display: block;
}

.dropdown-menu {
    list-style: none;
    width: 381px;
    height: 336px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    padding: 10px 0px 0px 0px;
    display: none;
    position: absolute;
}

.dropdown-item {
    border: none;
    background-color: #FFFFFF;
    width: 100%;
    height: 39px;
    text-align: start;
    padding: 6px 0px 6px 16px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.menu-active {
    display: block;
}

.hidden {
    display: none;
}

.dropdown-menu.menu-active {
    display: block;
}

.completed-courses_container {
    width: 1579px;
    height: auto;
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 44px;
    padding: 0px;
}

.completed-courses_container li {
    width: 497px;
    height: 180px;
    background-color: #F1ECFF;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
    padding: 22px;
}

.recommendation-for-chosen-profession {
    margin-top: 180px;
    margin-left: 108px;
    width: 100%;
    height: calc(100%-125px);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.recommendation-for-chosen-profession h1 {
    width: 950px;
    height: 43px;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 22px;
}

.recommendation-for-chosen-profession h2 {
    width: 1650px;
    height: 43px;
    font-size: 24px;
    font-weight: 400;
}

.definite-course {
    margin-top: 186px;
    margin-left: 104px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    align-items: start; 
    gap: 23px; 
}

.definite-course h1 {
    font-weight: 500;
    width: 746px;
    height: 34px;
    font-size: 28px;
    margin: 0; 
}

.course-arrow {
    width: 35px;         
    height: 35px;
    cursor: pointer;
}

.course-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px; 
}

.course-code {
    display: flex;
    flex-direction: column;
    gap: 4px; 
    font-size: 26px;
    font-weight: 400;
}

.course-header {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    position: relative;
}

.course-score {
    position: static;
    margin-left: -58px; 
    margin-top: 0px; 
    margin-bottom: 0;
}

.course-score h2{
    font-size: 26px;
    font-weight: 400;
    margin: 0px;
}

.score-value {
    color: #6AD26F; 
    font-size: 30px;
    font-weight: 500;
    margin-left: 16px;
}

.folders-container {
    margin-top: 30px;
    margin-left: -58px;
    width: 746px;
    display: flex;
    gap: 77px;
}

.folder {
    position: relative; 
    width: fit-content;; 
}

.folder-wrapper {
    position: relative;
    display: inline-block;
}

.folder--orange .folder__icon {
    display: block;
    width: 227px;
    height: 140px;
    filter: 
        drop-shadow(0px 3px 16px rgba(79, 48, 11, 0.025))
        drop-shadow(0px 0px 3px rgba(79, 48, 11, 0.25));
}

.folder--yellow .folder__icon {
    display: block;
    width: 227px;
    height: 140px;
    filter: 
        drop-shadow(0px 3px 16px rgba(79, 48, 11, 0.05))
        drop-shadow(0px 0px 3px rgba(79, 48, 11, 0.15));
}

.folder__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 167px; 
    text-align: left;
    color: #FFFFFF; 
}

.folder__title {
    font-weight: 350;
    margin-bottom: 5px;
    font-size: 20px;
}

.folder__text {
    font-weight: semibold;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.course-content {
    margin-top: 30px; 
    width: 1164px; 
    margin-left: -58px; 
}

.section-title {
    font-size: 24px;
    font-weight: 500; 
    margin-bottom: 12px; 
    line-height: 1.2;
    color: #000000;
}

.annotation-text,
.outcomes-list {
    font-size: 22px;
    font-weight: 400; 
    line-height: 34px;
    color: #000000;
    text-align: left;
    margin: 0;
    padding: 0;
}

.annotation-section {
    margin-bottom: 41px; 
}

.outcomes-section {
    margin-bottom: 65px; 
}

.outcomes-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.outcomes-list li {
    margin-bottom: 0px;
    padding-left: 0;
    text-indent: 0;
    font-size: 22px;
    line-height: 34px;
    text-align: left;
}

.meta-block {
    position: absolute;
    width: 420px;
    height: 944px;
    left: 1226px;
    top: 4px;
    background: #FFFFFF;
    border-radius: 15px; 
    box-shadow: 
        0px 3px 14px 2px rgba(0, 0, 0, 0.1),
        0px 0px 5px -3px rgba(0, 0, 0, 0.08);
    padding: 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.meta-content {
    width: 348px;
    height: 848px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meta-section {
    margin-bottom: 38px;
    width: 100%;
}

.meta-section:last-child {
    margin-bottom: 0;
}

.meta-title {
    font-size: 22px;
    font-weight: 500; 
    margin: 0 0 12px 0;
    line-height: 1.2;
    color: #000000;
}

.meta-info {
    font-size: 20px;
    font-weight: 400; 
    margin: 0;
    line-height: 28px;
    color: #000000;
}

.meta-line {
    line-height: 35px !important; 
    margin: 0 0 4px 0; 
}

.meta-line:last-child {
    margin-bottom: 0; 
}

