html {
    box-sizing: border-box;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
}


body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    background-color: #F9F9F9;
    position: absolute;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 1px;
}

a {
    text-decoration: none;
}

.panel {
    height: 100%;
    width: 70px;
    position: fixed;
    background-color: #3D3E85;
    color: white;
}

.panel ul {
    list-style-type: none;
    padding: 0;
}

.panel ul li {
    position: relative;
    float: left;
}

.panel ul:first-child {
    margin-top: 13px;
}

.panel ul li ul {
    position: absolute;
    left: 70px;
    width: 233px;
    background-color: #3D3E85;
    opacity: 0;
    transition: opacity .5s ease;
}

.panel_ul-personalaccount {
    top: 60px;
    height: 120px;
}

.panel_ul-personalaccount li {
    width: 233px;
    height: 60px;
    text-align: center;
    padding-top: 19px;
    display: block;
    border-bottom: 0.1px solid #c2c7cb87;
    border-left: 0.1px solid #c2c7cb87;
}

.panel_ul-IOT {
    top: 60px;
    height: 168px;
}

.panel_ul-IOT li {
    width: 233px;
    height: 84px;
    padding-top: 19px;
    text-align: center;
    display: block;
    border-bottom: 0.1px solid #c2c7cb87;
    border-left: 0.1px solid #c2c7cb87;
}

.panel_ul-profession {
    top: 60px;
    height: 126px;
}

.panel_ul-profession li {
    width: 233px;
    height: 63px;
    display: block;
    padding: 10px 26px 6px 27px;
    text-align: center;
    border-bottom: 0.1px solid #c2c7cb87;
    border-left: 0.1px solid #c2c7cb87;
}

.panel ul li ul a li {
    color: #FDFCFA;
    font-size: 18px;
    font-weight: 400;
}

.panel ul li:hover ul {
    opacity: 1;
}

.panel ul li div {
    position: absolute;
    width: 303px;
    height: 60px;
    background-color: #FF934B;
    transform: translateX(-400px);
    transition: all 0.3s ease;
}

.panel ul li div h2 {
    font-weight: 500;
    font-size: 19px;
    margin-left: 20px;
    margin-top: 19px;
}

.panel_user div {
    position: absolute;
    width: 303px;
    height: 73px;
    background-color: #FF934B;
    transform: translateX(-400px);
    transition: all 0.2s ease;
}

.panel_user div h2 {
    font-weight: 500;
    font-size: 19px;
    margin-left: 20px;
    margin-top: 25px;
}

.panel_user a {
    width: 70px;
    height: 70px;
}

.panel_user div img {
    width: 30px;
    height: 30px;
    margin: 20px;
}

.panel ul li:hover div {
    display: flex;
    flex-direction: row;
    transform: translateX(0);
}

.panel_user:hover div {
    display: flex;
    flex-direction: row;
    transform: translateX(0);
}

.panel-line1 {
    border: none;
    margin: 0 12px;
    height: 1px; 
    width: 46px;
    background-color:#F9F9F9;
    margin-bottom: 35px;
}

.panel-line2 {
    position: inherit;
    bottom: 82px;
    border: none;
    margin: 0 12px;
    height: 1px; 
    width: 46px;
    background-color:#F9F9F9;
}

.panel_user {
    bottom: 0;
    position: inherit;
}

.rectangle {
    position: absolute;
    top: 334px;
    left: 0;
}

.ellipse1 {
    position: absolute;
    top: 0;
    left: 224px;
}

.ellipse2 {
    position: absolute;
    top: 0;
    right: 137px; 
}

.ellipse3 {
    position: absolute;
    top: 583px;
    right: 536px; 
}
 
.scroll-welcome {
    height: 5621px;
    width: 100%;
}


.menu {
    width: 447px;
    height: 50px;
    position: absolute;
    top: 71px;
    right: 183px;
}


.menu_entry {
    width: 161px;
    height: 48px;
    color:#F9F9F9;
    background-color:#3D3E85;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.menu_entry:hover {
    cursor: pointer;
}

.menu_registration:hover {
    cursor: pointer;
}

.menu_registration {
    width: 161px;
    height: 48px;
    color:#F9F9F9;
    background-color:#3D3E85;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-left: 40px;
}

.container-title {
    display: flex;
    flex-direction: row;
    width: 573px;
    height: 125px;
    margin-top: 265px;
    margin-left: 170px;
}

.container-title h1 {
    font-size: 90px;
    color: #414288;
    font-weight: 500;
    margin-left: 35px;
    margin-top: 60px;
    line-height: 16px;
}

.title-description {
    margin-left: 178px;
    font-size: 36px;
    color: #414288;
    width: 822px;
    margin-top: 19px;
    line-height: 41px;
}

.container-continue {
    width: 508px;
    height: 224px;
    background-color: #FFC765;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 308px;
    right: 183px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.container-continue:hover {
    cursor: pointer;
}

.container-continue h2 {
    color: #FDFCFA;
    width: 354px;
    height: 78px;
    margin: 50px 108px 46px 46px;
    text-align: left;
}

.arrow {
    margin: 0px 433px 50px 45px;   
}

.road-map {
    position: absolute;
    left: 170px;
    top: 678px;
    border: none;
    height: 4943px; 
    width: 8px;
    background-color: #EFEFEF;
}

.steps {
    width: 125px;
    height: 4943px;
    padding-left: 0;
    padding-top: 140px;
    margin-top: 678px;
    margin-left: 112px;
    position: absolute;
    list-style: none;
}

.steps li {
    width: 120px;
    height: 120px;
    background-color: #EFEFEF;
    border-radius: 20px;
    font-weight: 500;
    font-size: 56px;
    color: #8A8A8A;
}

.steps_1 {
    padding: 29px 29px 5px 50px;
}

.steps_2 {
    margin-top: 1120px;
    padding: 29px 29px 29px 45px;
}

.steps_3 {
    margin-top: 1041px;
    padding: 29px 46px 29px 44px;
}

.steps_4 {
    margin-top: 1940px;
    padding: 29px 39px 29px 38px;
}

.road-map-info {
    width: 1560px;
    height: 4850px;
    position: absolute;
    top:771px;
    left: 275px;
}

.road-map-info img {
    margin-top: 95px;
    margin-left: 43px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 12px rgba(63, 61, 61, 0.052);
}

.road-map-info h2 {
    width: 1000px;
    height: 30px;
    font-weight: 500;
    font-size: 36px;
    margin-left: 43px;
}

.road-map_discription {
    margin-top: 47px;
    margin-left: 43px;
    font-size: 32px;
    font-weight: 400;
}

.road-map_title1 {
    margin-top: 47px;
}

.road-map_title2 {
    margin-top: 142px;
}

.road-map_conteiner4step {
    width: 1495px;
    height: 280px;
    display: flex;
    flex-direction: row;
    margin-top: 105px;
    margin-left: 30px;
    position: relative;
}

.road-map_conteiner4step_startIOT {
    width: 655px;
    height: 206px;
    margin-left: 59px;
    color:color #000;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 1px 1px 12px 12px rgba(63, 61, 61, 0.052);
}

.road-map_conteiner4step_startIOT:hover {
    cursor: pointer;
}

.road-map_conteiner4step_check-jobs {
    width: 655px;
    height: 206px;
    margin-left: 67px;
    color:color #000;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    box-shadow: 1px 1px 12px 12px rgba(63, 61, 61, 0.052);
}

.road-map_conteiner4step_check-jobs:hover {
    cursor: pointer;
}

.road-map_conteiner4step_startIOT h2 {
    width: 445px;
    height: 78px;
    font-size: 28px;
    font-weight: 500;
    margin-left: 46px;
    margin-top: 36px;
    text-align: left;
}

.road-map_conteiner4step_check-jobs h2 {
    width: 453px;
    height: 78px;
    font-size: 28px;
    font-weight: 500;
    margin-left: 46px;
    margin-top: 36px;
    text-align: left;
}

.arrow-black {
    margin: 45px 580px 46px 46px !important;
    box-shadow: none !important; 
}

.wrapper {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}


.left-part {
    background-color: #3D3E85;
    overflow: hidden;
    background: linear-gradient(190deg, rgba(61, 62, 133, 1) 30%, rgba(181, 180, 251, 33%));
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 65% 0%, 50% 45%, 56% 85%, 90% 100%, 0% 100%);
}

.ellipse22 {
    position: absolute;
    top: 384px;
    left: 750px; 
}

.polygon2 {
    position: absolute;
    bottom: 0;
}

.rectangle2 {
    position: absolute;
    top: 94px;
    left: 0; 
}

.container-title_website {
    display: flex;
    width: 573px;
    height: 125px;
    margin-top: 88px;
    margin-left: 69px;
    position: absolute;
}

.container-title_website h1 {
    font-size: 90px;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 0;
}

.title-description_website {
    font-size: 36px;
    color: #fff;
    width: 827px;
    height: 85px;
    text-transform: uppercase;
    margin-top: 253px;
    margin-left: 69px;
    position: absolute;
}


.authorization-container {
    position: absolute;
    width: 551px;
    height: 566px;
    top: 259px;
    right: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorization-container h2 {
    color: #394561;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 79px;
}

.authorization-container_email {
    width: 550px;
    height: 102px;
    margin-bottom: 61px;
}

.authorization-container_email h3 {
    color: #394561;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 48.41px;
}

.authorization-container_email_input {
    width: 551px;
    display: flex;
    border-bottom: 2px solid #5A5885;
}

.authorization-container_email_input_field {
    width: 340px;
    height: 22px;
    color: #394561;
    border: none;
    background-color: #FFFFFF;
    font-size: 18px;
    margin-right: 186px;
}

.authorization-container_email_input_field:focus {
    outline: none;
    border: 1px solid transparent;
}

.authorization-container_email_input_faceicon {
    margin-bottom: 6px;
}

.authorization-container_password {
    width: 550px;
    height: 102px;
}

.authorization-container_password h3 {
    color: #394561;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 48.41px;
}

.authorization-container_password_input {
    width: 551px;
    display: flex;
    border-bottom: 2px solid #5A5885;
}

.authorization-container_password_input_field {
    width: 340px;
    height: 22px;
    color: #394561;
    border: none;
    background-color: #FFFFFF;
    font-size: 18px;
    margin-right: 186px;
}

.authorization-container_password_input_field:focus {
    outline: none;
    border: 1px solid transparent;
}

.authorization-container_enter {
    width: 161px;
    height: 48px;
    background-color: #414288;
    border: none;
    border-radius: 10px;
    color: #F9F9F9;
    font-size: 16px;
    margin-top: 93px;
}

.authorization-container_enter:hover {
    cursor: pointer;
}


.authorization-container_no-registration {
    display: flex;
    width: 440px;
    height: 24px;
    margin-top: 16px;
}

.authorization-container_no-registration_question {
    color: #586885;
    font-size: 16px;
    line-height: 24px;
    width: 248px;
}

.authorization-container_no-registration_registracion {
    color: #326BDA;
    text-decoration: none;
    width: 192px;
    font-size: 16px;
    line-height: 24px;
}

.registration-container {
    position: absolute;
    width: 594px;
    height: 834px;
    top: 89px;
    right: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container h2 {
    color: #394561;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 49px;
}

.registration-container_name-and-lastname {
    display: flex;
}

.registration-container_name-and-lastname_lastname {
    width: 304px;
    height: 97px;
}

.registration-container h3 {
    font-size: 21px;
    color: #394561;
    font-weight: 500;
    height: 35px;
    width: 213px;
}

.registration-container_name-and-lastname_lastname_input {
    width: 304px;
    height: 64px;
    border: 1px solid #5A5885; 
    padding-left: 20px;
    font-size: 18px;
}

.registration-container_name-and-lastname_name {
    width: 260px;
    height: 97px;
    margin-left: 30.12px;
}

.registration-container_name-and-lastname_name_input {
    width: 260px;
    height: 64px;
    border: 1px solid #5A5885; 
    font-size: 18px;
    padding-left: 20px;
}

.registration-container_patronymic {
    width: 594px;
    height: 97px;
    margin-top: 27px;
}

.registration-container_patronymic_input {
    width: 594px;
    height: 64px;
    border: 1px solid #5A5885; 
    font-size: 18px;
    padding-left: 20px;
}

.registration-container_email {
    width: 594px;
    height: 97px;
    margin-top: 27px;
}

.registration-container_email_input {
    width: 594px;
    height: 64px;
    border: 1px solid #5A5885; 
    font-size: 18px;
    padding-left: 20px;
}

.registration-container_password {
    width: 594px;
    height: 97px;
    margin-top: 27px;
}

.registration-container_password_input {
    width: 594px;
    height: 64px;
    border: 1px solid #5A5885;
    display: flex;
}

.registration-container_password_input_field {
    border: none;
    font-size: 18px;
    line-height: 16px;
    width: 212px;
    height: 18px;
    margin-left: 20px;
    margin-top: 24px;
}

.registration-container_password_input_field:focus {
    outline: none;
    border: 1px solid transparent;
}

.registration-container_password_input_not-view {
    cursor: pointer;
    margin-left: 319px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}

.registration-container_repeat-password {
    width: 594px;
    height: 97px;
    margin-top: 27px;
    margin-bottom: 46px;
}

.registration-container_repeat-password_input {
    width: 594px;
    height: 64px;
    border: 1px solid #5A5885;
    display: flex;
}

.registration-container_repeat-password_input_field {
    border: none;
    font-size: 18px;
    line-height: 16px;
    width: 212px;
    height: 18px;
    margin-left: 20px;
    margin-top: 24px;
}

.registration-container_repeat-password_input_field:focus {
    outline: none;
    border: 1px solid transparent;
}

.registration-container_repeat-password_input_view {
    cursor: pointer;
    margin-left: 319px;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}

.registration-container_enter {
    width: 161px;
    height: 48px;
    background-color: #414288;
    border: none;
    border-radius: 10px;
    color: #F9F9F9;
    font-size: 16px;
}

.registration-container_enter:hover {
    cursor: pointer;
}

.registration-container_have-autorisation {
    display: flex;
    width: 305px;
    height: 24px;
    margin-top: 16px;
    align-items: center;
}

.registration-container_have-autorisation_question {
    color: #586885;
    font-size: 16px;
    line-height: 24px;
    width: 260px;
}

.registration-container_have-autorisation_enter {
    color: #326BDA;
    text-decoration: none;
    width: 58px;
    font-size: 16px;
    line-height: 24px;
}

.my-direction {
    margin-top: 58px;
    margin-left: 174px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.my-direction h1 {
    font-weight: 500;
    width: 337px;
    height: 43px;
    font-size: 35px;
}

.choosing-direction_container {
    position: absolute;
    width: 643px;
    height: 805px;
    top: 131px;
    right: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choosing-direction_container h2 {
    width: 473px;
    height: 37px;
    margin-top: 25px;
    color: #394561;
    font-size: 30px;
    font-weight: 500;
}

.directions-container {
    width: 603px;
    height: 583px;
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    border: 1px solid #A1ACBA;
    border-radius: 5px;
}

.search-container {
    width: 572px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    border: 1px solid #A1ACBA;
    border-radius: 5px;
    margin-left: 16px;
}

.search-container_img {
    margin: 11px 10px 11px 12px;
}

.search-container input {
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: #000000;
    outline: none;
}

.choosing-direction_container_continue {
    width: 161px;
    height: 48px;
    background-color: #414288;
    border: none;
    border-radius: 10px;
    color: #F9F9F9;
    font-size: 16px;
    margin-top: 70px;
    cursor: pointer;
}

.elastic-directions {
    width: 588px;
    height: 500px;
    padding: 0;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 0;
}

.elastic-directions::-webkit-scrollbar {
    width: 8px; 
}

.elastic-directions::-webkit-scrollbar-track {
    background: #FFFFFF; 
}

.elastic-directions::-webkit-scrollbar-thumb {
    background: #D1D8DF; 
    border-radius: 10px;
}

.elastic-directions li button {
    width: 100%;
    min-height: 39px;
    padding: 6px 16px 6px 16px;
    list-style: none;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.elastic-directions li button:hover {
    background-color: #F1F1F1;
}

.elastic-directions li.hide {
    display: none;
}

.wrapper_pages-with-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content {
    width: calc(100% - 70px);
    height: 1080px;
    margin-left: 70px;
}

.main-page_header {
    width: 100%;
    height: 145px;
    background-color: #F0F0F0;
    padding-left: 60px;
    padding-top: 38px;
}

.main-page_header h1 {
    width: 166px;
    height: 24px;
    color: #414288;
    font-weight: 500;
    font-size: 36px;
    position: inherit;
}

.main-page_header h2 {
    width: 1305px;
    height: 30px;
    color: #414288;
    font-weight: 500;
    font-size: 29px;
    margin-top: 19px;
    position: inherit;
}

.main-page_content_container {
    width: 100%;
    height: 935px;
    display: flex;
    flex-direction: row;
    padding: 27px 74px 50px 78px;
}

.main-page_content_container_discription {
    width: 1014px;
    height: 858px;
}

.main-page_content_container_discription_text {
    width: 1014px;
    height: 307px;
    padding-left: 39px;
    padding-top: 9px;
    list-style-type: decimal;
}

.main-page_content_container_discription_text li {
    width: 960px;
    min-height: 29px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 17px;
}

.main-page_content_container_discription_buttons {
    width: 100%;
    height: 551px;
    padding: 23px 46px 30px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 44px; 
}

.main-page_content_container_discription_buttons_item {
    border: none;
    border-radius: 10px;
    background-color: #FFEFAA;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    cursor: pointer;
}

.main-page_content_container_discription_buttons_item_container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    text-align: left;
    width: 392px;
    min-height: 36px;
    margin: 170px 26px 22px 32px;
}


.main-page_content_container_discription_buttons_item_container h2 {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
}

.main-page_content_container_discription_buttons_item_container img {
    width: 32px;
    height: 32px;
}

.main-page_content_container_info {
    width: 517px;
    height: 516px;
    margin-left: 167px;
    display: flex;
    flex-direction: column;
}

.main-page_content_container_info_student {
    width: 490px;
    height: 274px;
    margin: 16px 20px 37px 7px;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 22px 34px 32px 35px;
}

.main-page_content_container_info_student_container {
    width: 421px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-page_content_container_info_student_container h2 {
    font-weight: 400;
    font-size: 28px;
}

.main-page_content_container_info_student h3 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 28px;
}

.main-page_content_container_info_student h4 {
    font-weight: 400;
    font-size: 22px;
    margin-top: 6px;
}

.main-page_content_container_info_profession {
    width: 490px;
    height: 159px;
    margin-left: 7px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 6px 6px rgba(63, 61, 61, 0.052);
    padding: 45px 47px 40px 47px;
}

.main-page_content_container_info_profession h2 {
    font-weight: 500;
    font-weight: 24px;
    width: 396px;
    height: 80px;
    text-align: center;
}

.polygon_main-page {
    position: absolute;
    top: 498px;
    left: 1336px;
}

.rectangle_main-page {
    position: absolute;
    top: 544px;
    left: 1386px;
}

.ellipse_main-page {
    position: absolute;
    top: 498px;
    left: 1566px;
}